{% render 'partials/head.liquid' %}

<article>
      
    <header>  
      <h1>{{ person.name }}</h1>      
      <p><em>Creatieve Frontend Developer in spé</em></p>   
    </header>

<img src="{{ person.avatar }}" >
<dl>
  <dd><strong>Bijnaam:</strong> {{ person.nickname }}</dd>
  <dd><strong>Geboortedatum:</strong> {{ person.birthdate | date: "%d-%m-%Y"}}</dd>
  <dd><strong>Haarkleur:</strong> {{ person.custom.haircolor }}</dd>
  <dd><strong>Favoriet nummer:</strong> {{ person.custom.fav_song }}</dd>
  <dd><strong>GitHub:</strong> <a href="{{ person.website }}" target="_blank">{{ person.github_handle }}</a></dd>
</dl>
<p>{{ person.bio }}</p>
    
  </article>
<p class="hidden-text">Lord of The Rings <br> is <br> THE BEST</p>
  
<style>
body {
    background: {{ person.custom.fav_color }};
}
</style>

{% render 'partials/foot.liquid' %}
