{% render 'partials/head.liquid' %}

<article>      
    <header>  
      <h1>{{ person.name }}</h1>      
      <p><em>Creatieve Frontend Developer in spé</em></p>   
    </header>

<img src="{{ person.avatar }}" alt="{{ person.name }}">

<dl>
  <dt>Bijnaam:</dt><dd>{{ person.nickname }}</dd>
  <dt>Geboortedatum:</dt><dd> {{ person.birthdate | date: "%d-%m-%Y"}}</dd>
  <dt>Haarkleur:</dt><dd> {{ person.custom.haircolor }}</dd>
  <dt>Favoriet nummer:</dt><dd> {{ person.custom.fav_song }}</dd>
  <dt>GitHub:</dt><dd><a href="{{ person.website }}" target="_blank">{{ person.github_handle }}</a></dd>
</dl>

<p>{{ person.bio }}</p>
    
  </article>
<p class="hidden-text">Lord of The Rings <br> is <br> THE BEST</p>
  
<style>
body {
    background: {{ person.custom.fav_color }};
}
</style>

{% render 'partials/foot.liquid' %}